{
	"root": true,
	"env": {
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"prettier",
		"plugin:import/errors"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"generators": false,
			"objectLiteralDuplicateProperties": false
		}
	},
	"plugins": [
		"import",
		"prettier"
	],
	"rules": {
		"no-unused-vars": ["error", {
			"args": "none",
			"vars": "all"
		}],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"arrowParens": "always"
			}
		]
	}
}
